.step-number {
  font-size: 3rem;
  font-weight: bold;
}
.step-line {
  height: 6px;
  background-color: #ddd;
  border-radius: 5px;
  flex-grow: 1;
  /* margin: 0 10px; */
  margin-top: 20px;
}
.step-label {
  margin-top: 10px;
  font-size: 1.2rem;
}
.vertical-step {
  text-align: center;
  margin-top: 50px;
}
