
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
}

.porto-badge{
    margin-bottom: 10px;
    padding: 40px 0px;
}

.porto-badge h1{
    font-style: bold;
    margin-top: 30px;
    font-weight: 600;
}

.porto-badge a{
    text-decoration: none;
}

.porto-badge a:hover{
    text-decoration: none !important;
    background-color: #24397c !important;
    color: white !important;
}

.porto-badge h2{
    font-style: italic;
    margin-top: 10px;
    font-weight: 400;
    color: #24397c;
}

.text-card h4{
    color:#24397c;
    font-weight: 400;
    font-style: italic;
}

.text-card a{
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 10px;
}

.text-card a:hover{
    text-decoration: none !important;
    background-color: #24397c !important;
    color: white !important;
}

.card-pict{
    background-color: white;
    border-radius: 30px;
    padding: 20px;
    box-shadow: #24397c 0px 0px 20px;
    margin: 0px 50px 50px 50px;
    display: flex;
}


.img-plc-0{
    transition: all 0.3s ease;
}

.img-plc-0:hover{
    transform: translateY(-5px);
}

.img-plc{
    column-gap: 15px;
}

.img-plc-1{
    transition: all 0.3s ease;
}

.img-plc-1:hover{
    transform: translateY(-10px);
}

.img-plc-2{
    transition: all 0.3s ease;
}

.img-plc-2:hover{
    transform: translateY(10px);
}

.img-plc-3{
    transition: all 0.3s ease;
}

.img-plc-3:hover{
    transform: translateY(-10px);
}

.img-plc-4 img{
    height: 400px !important;
    width: 225px !important;
    object-fit: contain;
    position: relative;
}

.img-plc-4{
    column-gap: 15px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}


